<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>今日精选</string>
		<key>type</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>男装</string>
		<key>type</key>
		<string>naz</string>
	</dict>
	<dict>
		<key>title</key>
		<string>女装</string>
		<key>type</key>
		<string>nvz</string>
	</dict>
	<dict>
		<key>title</key>
		<string>内衣</string>
		<key>type</key>
		<string>ny</string>
	</dict>
	<dict>
		<key>title</key>
		<string>母婴</string>
		<key>type</key>
		<string>my</string>
	</dict>
	<dict>
		<key>title</key>
		<string>化妆品</string>
		<key>type</key>
		<string>hzp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>家居</string>
		<key>type</key>
		<string>jj</string>
	</dict>
	<dict>
		<key>title</key>
		<string>鞋包配饰</string>
		<key>type</key>
		<string>xbps</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>type</key>
		<string>ms</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文体车品</string>
		<key>type</key>
		<string>wtcp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>数码家电</string>
		<key>type</key>
		<string>smjd</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他</string>
		<key>type</key>
		<string>other</string>
	</dict>
</array>
</plist>
